*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #09090A;
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.sobre span{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sobre i{
    color: #AFFE93;
}

.sobre h1{
    max-width: 16ch;
    font-size: 2.3rem;
}

.sobre h1 strong{
    color: #899BFF;
}

.sobre p{
    max-width: 32ch;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: 1px;
}

.oferta{
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem;
    gap: 2rem;
    border-radius: 10px;
}

.oferta .container01{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.oferta .span-oferta{
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.oferta .preco{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.oferta .before{
    text-decoration: line-through;
}

.oferta .after{
    font-size: 3rem;
    font-weight: 600;
}

.oferta button{
    background-color: #6477E7;
    border: none;
    cursor: pointer;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    transition: .3s linear;
}

.oferta button:active{
    background-color: #4453a9;
}

.oferta > p{
    text-align: center;
}

.vantagens{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.vantagens > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    transition: .3s linear;
}

.vantagens > div:hover{
    box-shadow: 3px 3px 10px 6px #201e1eac;
    transform: scale(1.03);
}

.vantagens p{
    font-size: 14px;
    max-width: 20ch;
}

.vantagens i{
    color: #fff;
    background-color: #121212;
    padding: .7rem;
    width: 40px;
    display: flex;
    align-items: center;
}


@media(max-width: 1070px){
   .content{
        grid-template-columns: 1fr;
        gap: 2rem;
   }
   
   .sobre{
        text-align: center;
        align-items: center;
   }

   .oferta{
        max-width: 500px;
        justify-content: center;
        margin: 0 auto;
   }

   .vantagens{
        grid-template-columns: 1fr 1fr;
        max-width: 400px;
        gap: 2rem;
   }

}

@media(max-width: 500px){
    .vantagens{
        grid-template-columns: 1fr;
        max-width: 300px;
    }
}