@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('images/image-fundo-form.jpg');
    background-size: cover;
    background-position: center center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.404);
}

form{
    width: 600px;
}

form input,
select{
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

form .name,
form .endereco .casa,
form .endereco .number{
    display: flex;
    justify-content: space-between;
}

form .name input{
    width: 49%;
}

form .tamanho-pe select{
    width: 100%;
}

form .endereco{
    display: flex;
    flex-direction: column;
}

form .endereco .casa input{
    width: 49%;
}

form .endereco .number input[type = text]{
    width: 69%;
}

form .endereco .number input[type = number]{
    width: 29%;
}

form .informacao input{
    width: 100%;
}

form .btn input{
    width: 100%;
    padding: 12px;
    background-color: #e99836;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: .2s linear;
}

p{
    color: #ffff;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: #fff;
}

a::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: -5%;
    bottom: -10px;
    transition: 0.5s;
}

a:hover::after{
    width: 110%;
}

form .btn input:hover{
    background-color: #d38526ea;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


@media(max-width: 670px){
    form{
        width: 80%;
    }
}