@charset "UTF-8";

:root{
    --font1: "Fondamento", cursive;
    --font2: "Montserrat", cursive;
    --font3: "Inter", cursive;
}

.padrao{
    max-width: 1100px;
    margin: 0 auto;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-family: var(--font1);
    font-weight: 100;
    color: #FF0000;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.title span{
    margin-right: 5px;
}
 
nav .menu{
    display: flex;
    list-style: none;
    gap: 1.75rem;
    font-family: var(--font2);
}

nav .menu li{
    cursor: pointer; 
    position: relative;
    padding-bottom: 2px;
}

nav .menu li::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FF0000;
    bottom: 0;
    transition: .3s linear;
}

nav .menu li:hover::before{
    width: 100%;
}


.button{
    text-decoration: none;
    color: #fff;
    background-color: #FF0000;
    padding: .5rem 1.75rem;
    border-radius: 1rem;
    font-family: var(--font3);
    font-weight: 500;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.h2{
    font-family: var(--font3);
    font-weight: 300;
    font-size: 2.5rem;
}

.paragrafos-principais{
    max-width: 40ch;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    font-family: var(--font2);
    margin: -.8rem 0 2.2rem;
}

.inicio .image img{
    max-width: 300px;
}


.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.sobre .image img{
    width: 500px;
    height: 550px;
    border-radius: 2rem;
}

.quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin-left: 5rem;
}

.quem-somos span{
    color: #FF0000;
    margin-bottom: -10px;
    font-family: var(--font2);
}

.pratos,
.pratos-populares{
    text-align: center;
}

.style-h2{
    font-size: 2.3rem;
    font-family: var(--font3);
    font-weight: 300;
    text-align: center;
}

.pratos-populares{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pratos .pratos-populares img{
    max-width: 280px;
    border-radius: 3rem;
}

.pratos .pratos-populares div{
    padding: 1.5rem;
    flex: 1;
    transition: .2s linear;
    border-radius: 1rem;
}


.pratos .pratos-populares div:hover{
    box-shadow: 1px 1px 15px 10px #a0a0a06e;
}

.pratos .pratos-populares div h3{
    font-family: var(--font1);
}

.pratos .pratos-populares div p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: var(--font3);
    font-size: .9rem;
    line-height: 1.1rem;
    letter-spacing: .95px;
}

.pratos .pratos-populares div span{
    color: #FF0000;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: var(--font2);
}

.comments{
    margin-top: 4rem;
}

.opinioes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    position: relative;
}

.opinioes div img{
    width: 80px;
    border-radius: 100%;
}

.opinioes div{
    background-color: #e9e9e9d0;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1.2rem;
    gap: 10px;
    font-family: var(--font2);
    border-radius: 1rem;
}

.opinioes div i{
    color: #FF0000;
}

.opinioes div p{
    max-width: 40ch;
    margin-top: -10px;
}

.coracao{
    position: absolute;
    font-size: 30rem;
    color: #FF0000;
    z-index: -100;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -45%);
}

.logo-footer{
    margin-top: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer p{
    font-family: var(--font1);
    font-weight: 100;
    color: #FF0000;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-media i{
    font-size: 1.3rem;
    cursor: pointer;
}